<context id="CarSimulation">
    <projection id="Grid" type="grid">
        <bounds>
            <min>0, 0</min>
            <max>50, 50</max>
        </bounds>
    </projection>

    <agent id="Car">
        <style class="carSimulaiton.styles.CarStyle">
            <icon path="resources/car_east.png"/>
        </style>
    </agent>

    <agent id="Road">
        <style class="carSimulaiton.styles.RoadStyle"/>
    </agent>

    <agent id="TrafficLight">
        <style class="carSimulaiton.styles.TrafficLightStyle"/>
    </agent>

    <builder class="carSimulaiton.CarSimulationBuilder"/>
</context>